In [2]:
import pandas as pd
import numpy as np

In [4]:
da = np.random.randint(0, 100, [1000,50])# 1000 rows and 50 col

In [5]:
df = pd.DataFrame(da)
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
995,34,40,48,40,3,38,27,19,73,99,...,8,37,21,7,74,32,56,35,64,80
996,68,0,33,69,12,91,0,59,31,22,...,38,92,37,93,68,84,40,70,20,44
997,57,72,8,46,61,32,40,81,95,23,...,19,12,41,47,15,22,27,76,14,17
998,97,9,28,77,45,21,7,31,53,57,...,86,34,86,28,19,86,64,88,42,50
999,5,67,48,82,8,57,71,9,85,80,...,46,33,66,46,1,59,94,79,49,23

In [6]:
pd.options.display.max_columns

20

In [7]:
pd.options.display.max_rows

60

In [8]:
pd.options.display.max_rows = 20

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,32,2,71,40,56,37,82,38,43,61,...,72,46,31,62,6,78,9,11,11,96
1,32,33,17,98,6,36,10,64,82,59,...,8,21,47,82,18,19,37,74,95,22
2,52,75,30,67,58,75,22,74,39,81,...,72,98,59,59,36,7,23,31,56,90
3,49,92,16,84,22,4,27,13,75,85,...,32,69,76,69,99,48,15,48,95,86
4,11,22,18,83,3,92,81,75,46,81,...,77,89,22,20,31,18,20,15,49,25
5,11,42,95,26,31,18,59,93,68,75,...,10,26,39,39,35,95,35,87,47,80
6,89,80,91,30,24,22,14,11,79,81,...,3,96,21,65,26,98,52,0,63,85
7,37,50,52,7,11,9,21,18,94,24,...,27,14,42,90,72,51,4,71,16,69
8,90,73,29,23,34,6,31,65,70,86,...,38,96,82,80,13,48,57,43,51,20
9,24,40,25,0,71,10,10,27,50,56,...,12,96,87,29,87,58,97,6,39,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,34,7,65,77,87,66,77,18,12,8,...,4,45,11,69,84,94,91,14,84,41
991,3,55,58,85,92,78,21,58,21,57,...,3,38,75,14,39,28,83,48,69,84
992,43,23,2,41,29,78,2,41,4,71,...,49,90,68,26,65,36,29,1,21,33
993,1,44,57,88,40,8,39,61,98,50,...,65,17,38,57,92,8,62,32,82,59
994,16,21,51,83,91,11,13,35,81,56,...,34,69,90,61,0,84,45,5,65,21
995,34,40,48,40,3,38,27,19,73,99,...,8,37,21,7,74,32,56,35,64,80
996,68,0,33,69,12,91,0,59,31,22,...,38,92,37,93,68,84,40,70,20,44
997,57,72,8,46,61,32,40,81,95,23,...,19,12,41,47,15,22,27,76,14,17
998,97,9,28,77,45,21,7,31,53,57,...,86,34,86,28,19,86,64,88,42,50
999,5,67,48,82,8,57,71,9,85,80,...,46,33,66,46,1,59,94,79,49,23

In [10]:
pd.options.display.max_columns =  8

In [11]:
df

     0   1   2   3  ...  46  47  48  49
0    32   2  71  40 ...   9  11  11  96
1    32  33  17  98 ...  37  74  95  22
2    52  75  30  67 ...  23  31  56  90
3    49  92  16  84 ...  15  48  95  86
4    11  22  18  83 ...  20  15  49  25
5    11  42  95  26 ...  35  87  47  80
6    89  80  91  30 ...  52   0  63  85
7    37  50  52   7 ...   4  71  16  69
8    90  73  29  23 ...  57  43  51  20
9    24  40  25   0 ...  97   6  39  83
..   ..  ..  ..  .. ...  ..  ..  ..  ..
990  34   7  65  77 ...  91  14  84  41
991   3  55  58  85 ...  83  48  69  84
992  43  23   2  41 ...  29   1  21  33
993   1  44  57  88 ...  62  32  82  59
994  16  21  51  83 ...  45   5  65  21
995  34  40  48  40 ...  56  35  64  80
996  68   0  33  69 ...  40  70  20  44
997  57  72   8  46 ...  27  76  14  17
998  97   9  28  77 ...  64  88  42  50
999   5  67  48  82 ...  94  79  49  23

[1000 rows x 50 columns]

In [12]:
pd.get_option('max_rows')

20

In [13]:
pd.get_option('max_columns')

8

In [14]:
pd.set_option('max_rows', 15)

In [15]:
df

     0   1   2   3  ...  46  47  48  49
0    32   2  71  40 ...   9  11  11  96
1    32  33  17  98 ...  37  74  95  22
2    52  75  30  67 ...  23  31  56  90
3    49  92  16  84 ...  15  48  95  86
4    11  22  18  83 ...  20  15  49  25
5    11  42  95  26 ...  35  87  47  80
6    89  80  91  30 ...  52   0  63  85
..   ..  ..  ..  .. ...  ..  ..  ..  ..
993   1  44  57  88 ...  62  32  82  59
994  16  21  51  83 ...  45   5  65  21
995  34  40  48  40 ...  56  35  64  80
996  68   0  33  69 ...  40  70  20  44
997  57  72   8  46 ...  27  76  14  17
998  97   9  28  77 ...  64  88  42  50
999   5  67  48  82 ...  94  79  49  23

[1000 rows x 50 columns]

In [16]:
pd.options.display.max_columns

8

In [17]:
pd.reset_option('max_columns')

In [18]:
pd.get_option('max_columns')

20

In [19]:
pd.describe_option('max_columns')

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The precision Option

In [20]:
df = pd.DataFrame(np.random.randn(5,5))

In [21]:
df

          0         1         2         3         4
0 -0.524721  0.188325  1.008008 -0.252817 -0.341233
1 -0.560381  0.169077 -0.863260  0.577735 -1.961280
2  0.553149 -1.370898  1.961405 -0.158779 -0.348479
3 -2.675434  0.428363  0.408878  0.400479  0.046229
4  0.114321  0.126796  0.617621  0.134445 -0.560213

In [22]:
pd.get_option('precision')

6

In [23]:
pd.set_option('precision', 2)

In [24]:
df

      0     1     2     3     4
0 -0.52  0.19  1.01 -0.25 -0.34
1 -0.56  0.17 -0.86  0.58 -1.96
2  0.55 -1.37  1.96 -0.16 -0.35
3 -2.68  0.43  0.41  0.40  0.05
4  0.11  0.13  0.62  0.13 -0.56

In [26]:
pd.reset_option('precision')